table{
    padding: 5px;
    background-color: #8C2F39;
    margin-bottom: 20px;
}

table, th, td{
    border: 1px black solid;
}

thead{
    background-color:rgb(247, 161, 128);
    color: white;
}

tbody{
    background-color: rgb(228, 188, 114);
    color: white;
}

#child, #anxious, video{
    max-width: 100%;
    height: auto;
}


