.bar{
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: grey;
}

button{
    background-color: grey;
    font-size: 20px;
    border: 0px;
    color: white;
}

button:hover{
    background-color: lightgrey;
}

.container{
    width: 1000px;
    height: 2000px;
    background-color: #D3D0CB;
    padding: 20px;
    padding-top: 5px;
}

table{
    padding: 5px;
    background-color: #8C2F39;
}

thead{
    background-color:rgb(247, 161, 128);
    color: white;
}

tbody{
    
    background-color: rgb(228, 188, 114);
    color: white;
}